.center-des-1{
    text-align: center;
    background-image: linear-gradient(to right, rgb(172 106 26), rgb(255 173 89) , rgb(167 103 26)) !important;
    /* background: linear-gradient(to right, #c21500, #ffc500); */
    padding: 8px;
    border-radius: 6px 6px;
    font-size: 27px;
    color: black;
}


/**** SEARCH MOVIE ****/
.search-movie{
    margin-top: 2rem;
    padding: 11px;
}
.size-search{
    font-size: 13px;
}

/**** FONT-HEADER TOP !! ****/
.superheader-font{
    font-size: 20px;
}

